$main-color: #FFFFFF;
$second-color: #ECA981;
$third-color: #064E57;
$large-border: 20px;
$medium-border: 10px;
$small-border: 5px;
$large-text-size: 48px;
$preLarge-text-size: 40px;
$medium-text-size: 36px;
$preMedium-text-size: 30px;
$small-text-size: 24px;
