@import "main-color";
@import "inputFields";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background: url("../../assetss/image/main-background.svg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.header {
  padding: 60px 60px;
  &_container {
    display: flex;
    justify-content: space-between;
    &-logo {
      background:url("../../assetss/image/Bouillon.svg") no-repeat center;
      width: 133px;
      height: 42px;
    }
    &-info {
      font-size: $large-text-size;
      font-weight: bold;
    }
    &-profile {
      font-size: $preMedium-text-size;
      font-weight: normal;
    }
  }
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

