@import "main-color";
@import "inputFields";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.main {
  background: url("../../assetss/image/main-background.svg");
  min-height: 100vh;
}
.content {
  display: block;
  margin: 0 auto;
  max-width: 1320px;
  padding-bottom: 10px;
}
.icon-close {
  cursor: pointer;
}
.notification {
  background-color: red;
  display: flex;
  justify-content: space-around;
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px;
  border-radius: 10px;
}
.header {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1320px;
  &_container {
    display: flex;
    align-items: center;
    &-logo {
      margin-right: 100px;
      background:url("../../assetss/image/Bouillon.svg") no-repeat center;
      width: 133px;
      height: 42px;
    }
    &-info {
      flex-grow: 36;
      font-size: $medium-text-size;
      font-weight: bold;
      color: $main-color;

    }
    &-profile {
      flex-grow: 1;
      font-size: $small-text-size;
      font-weight: normal;
      color: $main-color;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.login-form {
  display: block;
  margin: 0 auto;
  &__next {
    display: flex;
    justify-content: flex-end;
    &-finish {
      margin-top: 360px;
    }
  }
  &__text {
    font-size: $preLarge-text-size;
    font-weight: 500;
    color: $main-color;
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 116px;
  }
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.btn-main {
  background-color: $second-color;
  border-radius: $medium-border;
  padding: 11px 100px;
  color: $third-color;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: $second-color-light;
  }
  &:focus {
    background-color: $second-color-dark;
  }
}

.registration-step-one {
  margin: 0 auto;
  display: block;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main-color;
    font-size: $preLarge-text-size;
    font-weight: 500;
    text-align: center;
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 116px;
  }
}

